@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    margin: 0;
}

h1 {
    text-align: center;
    font-weight: normal;
    font-size: 38px;
}

/* Add a black background color to the top navigation */
.topnav {
    text-align: left;
    overflow: hidden;
    padding-top: 20px
}

.nav-menu {
   
    display: inline-block;
    padding-left: 12%
}

/* Style the links inside the navigation bar */
.nav-menu a {
    color: black;
    padding: 1em 2.5em;
    text-decoration: none;
    font-size: 18px;
}

/* Change the color of links on hover */
.topnav a:hover {
    color: black;
}

nav {
    padding-bottom: 40px;
}

main {
    width: 73vw;
    margin: 0 auto;
}

.container {
    display: flex;
    border: 2px solid black;
    padding-left: 10px;
    margin: 0 auto;
    width: 70%;
}

.flex-left {
    text-align: left;
    width: 400px;
    resize: both;
}

.flex-left img {
    object-fit: cover;
    width: 100%;
}

.flex-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 10px;
}

.right-desc {
    width: 80%;
    margin-top: 60px;
    margin-bottom: auto;
}

.resource-signup-btn {
    background-color: #3498DB;
    border: 2px solid black;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    cursor: pointer;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: -2px;
    margin-bottom: -2px;
    width: 200px;
}

.resource-signup-btn:hover {
    color: #3498DB;
    background-color: white;

}

#resourceContainer {
    padding-button: 60px;
}

.resource-tutorial-btn:hover {
    color: #3498DB;
    background-color: white;
}

.resource-tutorial-btn {
    background-color: #3498DB;
    border: 2px solid black;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    cursor: pointer;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: -2px;
    margin-bottom: -2px;
    width: 200px;
}

#resource-signup-btn, #resource-tutorial-btn {
    display:inline-block;
    /* additional code */
}

#footer {
    height: 500px;
    min-width: 100%;
    background: #075988;
    float: left;
}

.flex-footer {
    display: flex;
    flex-direction: row;
    height: 100%;
    color: white;
}

.flex-footer div {
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 20px;
}

#flex-footer-el-1 {
    text-align: center;
    text-align: left;
}

#flex-footer-el-1 div {
    padding: 10px;
}

#flex-footer-el-2 {
    float: right;
    text-align: left;
    padding-top: 36px;
}

#flex-footer-el-3 {
    padding-top: 0px;
    padding-left: 0;
    padding-right: 0;
}

#flex-footer-el-3 div {
    padding-left: 0;
    padding-bottom: 0;
}

.college-name {
    color: white;
}

.address-line {
    color: white;
}

.phone {
    color: white;
}

.circle {
    height: 50px;
    width: 50px;
    background-color: #bbb;
    border-radius: 50%;
    margin-right: 10px;
    display: inline-block;
}

.donate-btn {
    background-color: gray;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 0;
    display: inline-block;
    font-size: 16px;
}